# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# netbeans stuff
build/
dist/
private/

# for debian packaging
/build/
/stage/
